<p id="round_number">Round <%= @round.current_round_number %></p>
<%= render :partial => @round.players, :as => 'player' %>
<p id="stock">
  Stock: (<%= describe_pile_size @round.stock_size %>)
</p>
<p id="discard_pile">
  Discard Pile: <%= @round.discard_pile_top_card %> (<%= describe_pile_size @round.discard_pile_size %>)
</p>
