<p id="round_number">Round <%= @game.current_round_number %></p>
<%= render @game.players %>
<p id="discard_pile"><%= @game.discard_pile_top_card %> (<%= @game.discard_pile_size %> <%= @game.discard_pile_size == 1 ? 'card' : 'cards' %>)</p>
