<div class="player active_player">
  <b><%= current_round_active_player.name %></b> (<%= describe_pile_size current_round_active_player.hand_size %>)
  <%= form_for :discard, :url => round_discards_path(current_round_active_player.round), :html => { :id => 'discard' } do |f| %>
    <ul class="cards">
      <% current_round_active_player.hand.each do |card| %>
        <li class="card"><input type="radio" id="<%= card %>" name="selected_card" value="<%= card %>"/><label for="<%= card %>"><%= card %></label></li>
      <% end %>
    </ul>
    <%= f.submit('Discard') %>
  <% end %>
</div>
