<div class="player">
  <%= player.name %> (<%= describe_pile_size player.hand_size %>)
  <%= render :partial => 'score', :locals => { :player => player } if round_over %>
  <ul class="cards">
    <% player.hand.each do |card| %>
      <li class="card"><%= card %></li>
    <% end %>
  </ul>
  <%= render :partial => 'melds', :locals => { :player_name => player.name, :melds => player.melds} %>
</div>
