<div class="player active_player">
  <b><%= player.name %></b> (<%= describe_pile_size player.hand_size %>)

  <% if flash[:errors] && flash[:errors].any? %>
    <ul id='player_errors'>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for :player_action, :html => { :id => 'player_actions' } do |f| %>
    <ul class="cards">
      <% player.hand.each do |card| %>
        <li class="card">
          <%= f.check_box(:selected_cards, { :multiple => true }, card, nil) %>
          <% #TODO: This is shit but bending form helpers to my will is like running at a brick wall %>
          <label for="<%= "#{:player_action}_#{:selected_cards}_#{card.to_s.downcase.gsub(' ', '_')}" %>"><%= card %></label>
        </li>
      <% end %>
    </ul>
    <ul>
      <li><%= f.submit('Pick up cards', :id => 'pick_up_cards_button', :formaction => round_pick_up_cards_path(player.round)) %></li>
      <li><%= f.submit('Discard', :id => 'discard_button', :formaction => round_discards_path(player.round)) %></li>
    </ul>
  <% end %>
</div>
