<div class="player active_player">
  <b><%= current_round_active_player.name %></b> (<%= describe_pile_size current_round_active_player.hand_size %>)

  <% if flash[:errors] && flash[:errors].any? %>
    <ul id='player_errors'>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for :player_action, :html => { :id => 'player_actions' } do |f| %>
    <ul class="cards">
      <% current_round_active_player.hand.each do |card| %>
        <li class="card">
          <%= f.check_box(:selected_cards, { :multiple => true, :id => card.to_s }, card.to_s, nil) %>
          <%= f.label(:selected_cards, card.to_s) %>
        </li>
      <% end %>
    </ul>
    <ul>
      <li><%= f.submit('Pick up cards', :id => 'pick_up_cards_button', :formaction => round_pick_up_cards_path(current_round_active_player.round)) %></li>
      <li><%= f.submit('Discard', :id => 'discard_button', :formaction => round_discards_path(current_round_active_player.round)) %></li>
    </ul>
  <% end %>
</div>
